<div [ngSwitch]="isAuthenticated()">
  <div class="row" *ngSwitchCase="true">
    <div style="cursor: pointer; padding: 1rem;" class="col-6 dropdown-item text-center">
      <div [routerLink]="['/abonne']">ABONNE</div>
    </div>
    <div style="cursor: pointer; padding: 1rem;" class="col-6 dropdown-item text-center">
      <div [routerLink]="['/employee']">EMPLOYEE</div>
    </div>
  </div>
  <div *ngSwitchCase="false">
    <a class="dropdown-item text-center" (click)="login()" id="login">
      <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
      <span jhiTranslate="global.menu.account.login">Sign in</span>
    </a>
  </div>
  <div class="row" *ngSwitchCase="true">
    <div class="col-6" *jhiHasAnyAuthority="['ROLE_ADMIN']">
      <input type="date" [(ngModel)]="chosenDate1" (change)="search(chosenDate1)" />
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>Valeur</th>
              <th>Operateur</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let caisse of caisseOfDay">
              <td style="padding: 0.5rem;">
                {{ caisse.daylyType }}
              </td>
              <td style="padding: 0.5rem;">{{ caisse.valeur }} dt</td>
              <td style="padding: 0.5rem;">
                {{ caisse.operateur }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td style="padding: 0.5rem;" *ngIf="caisseOfDayValue !== 0">TOTAL</td>
              <td style="padding: 0.5rem;" *ngIf="caisseOfDayValue !== 0">{{ caisseOfDayValue }} dt</td>
              <td style="padding: 0.5rem;"></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col-6" *jhiHasAnyAuthority="['ROLE_ADMIN']">
      <input type="date" [(ngModel)]="chosenDate2" (change)="search2(chosenDate2)" />
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Departement</th>
            <th>Total</th>
            <th>Salaire du Coach</th>
          </tr>
        </thead>
        <tbody>
          <tr *jhiHasAnyAuthority="['ROLE_ADMIN']">
            <td style="padding: 0.5rem;" *ngIf="depMUSCULATION !== 0">
              MUSCULATION
            </td>
            <td style="padding: 0.5rem;" *ngIf="depMUSCULATION !== 0">{{ depMUSCULATION }} dt</td>
            <td style="padding: 0.5rem;" *ngIf="depMUSCULATION !== 0"></td>
          </tr>
          <tr *ngIf="depTAEKWONDO !== 0">
            <td style="padding: 0.5rem;">
              TAEKWONDO
            </td>
            <td style="padding: 0.5rem;">{{ depTAEKWONDO }} dt</td>
            <td style="padding: 0.5rem;">{{ depTAEKWONDO / 2 }} dt</td>
          </tr>
          <tr *ngIf="depKICKBOXING !== 0">
            <td style="padding: 0.5rem;">
              KICKBOXING
            </td>
            <td style="padding: 0.5rem;">{{ depKICKBOXING }} dt</td>
            <td style="padding: 0.5rem;">{{ depKICKBOXING / 2 }} dt</td>
          </tr>
          <tr *ngIf="depBOX !== 0">
            <td style="padding: 0.5rem;">
              BOX
            </td>
            <td style="padding: 0.5rem;">{{ depBOX }} dt</td>
            <td style="padding: 0.5rem;">{{ depBOX / 2 }} dt</td>
          </tr>
          <tr *ngIf="depJUDO !== 0">
            <td style="padding: 0.5rem;">
              JUDO
            </td>
            <td style="padding: 0.5rem;">{{ depJUDO }} dt</td>
            <td style="padding: 0.5rem;">{{ depJUDO / 2 }} dt</td>
          </tr>
          <tr *ngIf="depJIUJITSU !== 0">
            <td style="padding: 0.5rem;">
              JIUJITSU
            </td>
            <td style="padding: 0.5rem;">{{ depJIUJITSU }} dt</td>
            <td style="padding: 0.5rem;">{{ depJIUJITSU / 2 }} dt</td>
          </tr>
          <tr *ngIf="depKARATE !== 0">
            <td style="padding: 0.5rem;">
              KARATE
            </td>
            <td style="padding: 0.5rem;">{{ depKARATE }} dt</td>
            <td style="padding: 0.5rem;">{{ depKARATE / 2 }} dt</td>
          </tr>
          <tr *ngIf="depGYMNASTIQUE !== 0">
            <td style="padding: 0.5rem;">
              GYMNASTIQUE
            </td>
            <td style="padding: 0.5rem;">{{ depGYMNASTIQUE }} dt</td>
            <td style="padding: 0.5rem;">{{ depGYMNASTIQUE / 2 }} dt</td>
          </tr>
          <tr *ngIf="depDANCE !== 0">
            <td style="padding: 0.5rem;">
              DANCE
            </td>
            <td style="padding: 0.5rem;">{{ depDANCE }} dt</td>
            <td style="padding: 0.5rem;">{{ depDANCE / 2 }} dt</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
