<div>
  <h2 id="page-heading">
    <span jhiTranslate="appironApp.abonne.home.title">Abonnes</span>

    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-abonne" [routerLink]="['/abonne/new']">
      <fa-icon icon="plus"></fa-icon>
      <span class="hidden-sm-down" jhiTranslate="appironApp.abonne.home.createLabel">
        Create a new Abonne
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            (change)="searchAbonne()"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'appironApp.abonne.home.search' | translate }}"
          />
          <button class="input-group-append btn btn-info" (click)="searchAbonne()">
            <fa-icon icon="search"></fa-icon>
          </button>
          <button class="input-group-append btn btn-danger" (click)="resetSearch()" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="difAbonnes?.length === 0">
    <span jhiTranslate="appironApp.abonne.home.notFound">No abonnes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="difAbonnes && difAbonnes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="appironApp.abonne.firstName">First Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="appironApp.abonne.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="appironApp.abonne.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="departement">
            <span jhiTranslate="appironApp.abonnement.departement">departement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="appironApp.abonnement.date">date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="abType">
            <span jhiTranslate="appironApp.abonnement.abType">abType</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rest">
            <span jhiTranslate="appironApp.abonnement.rest">Abonnements</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let abonne of difAbonnes; trackBy: trackId">
          <td *ngIf="abonne.firstName">{{ abonne.firstName | titlecase }}</td>
          <td *ngIf="abonne.lastName">{{ abonne.lastName | titlecase }}</td>
          <td>{{ abonne.phoneNumber }}</td>
          <td>
            <div *ngFor="let abonnementsEmploye of abonnementsEmployee">
              <div *ngIf="abonnementsEmploye.abonnes[0]?.id === abonne.id">
                {{ abonnementsEmploye.departement }}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let abonnementsEmploye of abonnementsEmployee">
              <div *ngIf="abonnementsEmploye.abonnes[0]?.id === abonne.id">
                {{ abonnementsEmploye.date | date }}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let abonnementsEmploye of abonnementsEmployee">
              <div *ngIf="abonnementsEmploye.abonnes[0]?.id === abonne.id">
                <span jhiTranslate="appironApp.AbType.{{ abonnementsEmploye.abType }}"> </span>
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let abonnementsEmploye of abonnementsEmployee">
              <div *ngIf="abonnementsEmploye.abonnes[0]?.id === abonne.id">
                {{ rest(abonnementsEmploye.price, abonnementsEmploye.pay) }}
              </div>
            </div>
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/abonnement', abonne.id, 'newAB']" class="btn btn-info btn-sm">
                <fa-icon icon="plus"></fa-icon>
              </button>
              <button type="submit" [routerLink]="['/abonne', abonne.id, 'newAB']" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>
              <button type="submit" [routerLink]="['/abonne', abonne.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                type="submit"
                [routerLink]="['/abonne', abonne.id, 'edit']"
                class="btn btn-primary btn-sm"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *jhiHasAnyAuthority="['ROLE_ADMIN']" type="submit" (click)="delete(abonne)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="abonnes && abonnes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
